
:root{
    --bool-blue: rgba(71, 173, 241, 1);
    --bool-violet: rgba(156, 114, 228, 1);
    --bool-green: rgba(100, 192, 169, 1);
    --bool-grey: rgba(246, 248, 249, 1);
    --bool-black: rgba(0, 0, 0, 1);
    --bool-orange: rgba(242, 158, 51, 1);
    --bool-pink: rgba(216, 99, 161, 1);
    --bool-lightgreen: rgba(176, 201, 38, 1);
    --bool-entitygreen: rgba(105, 195, 173, 1);
    --bool-entityred: rgba(235, 89, 82, 1);
}

* {
    margin: 0;
    box-sizing: border-box;
}

#main_container {
    width: 1200px;
    margin: auto;
    background-color: var(--bool-grey);

    
}

#logo {
    vertical-align: top;
    
}

#title {
    display: inline-block;
    font-size: 3rem;
    
}

#site_header {
    padding: 10px;
    background-color: white;
}


  
#site_nav {
    width: 785px;
    margin: auto;
    margin-top: 5rem;
    background-color: white;
    padding: 20px 0px 20px 60px;
    border-bottom: 2px solid var(--bool-grey);
} 

.add {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 5px;;
}

.add.task {
    background-color: var(--bool-blue);
    color: white;
}

.add.section {
    color: gray;
}